{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
    <h3>Columns:</h3>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Data Type</th>
        </tr>
        {% for column in columns %}
            <tr>
                <td>{{ column.name }}</td>
                <td>{{ column.type }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock content %}
